button {

    border-radius: 3px;
    background-color: rgba(152, 147, 139, 0);
    display: inline;
    font-size: 20px;
    height: 186px;
    width: 31px;
    text-align: center;
    border: 0 solid;

}

#sound29 {
    position: absolute;
    bottom: 131px;
    right: 23px;

}

#sound28 {
    position: absolute;
    bottom: 131px;
    right: 54.5px;
}

#sound27 {
    position: absolute;
    right: 86px;
    bottom: 131px;
}

#sound26 {
    position: absolute;
    right: 118px;
    bottom: 131px;
}

#sound25 {
    position: absolute;
    right: 150px;
    bottom: 131px;
}

#sound24 {
    position: absolute;
    right: 182px;
    bottom: 131px;
}

#sound23 {
    position: absolute;
    right: 213.5px;
    bottom: 131px;
}

#sound22 {
    position: absolute;
    right: 245px;
    bottom: 131px;
}

#sound21 {
    position: absolute;
    right: 277px;
    bottom: 131px;
}

#sound20 {
    position: absolute;
    right: 309px;
    bottom: 131px;
}

#sound19 {
    position: absolute;
    right: 340.5px;
    bottom: 131px;
}

#sound18 {
    position: absolute;
    right: 372px;
    bottom: 131px;
}

#sound17 {
    position: absolute;
    right: 404px;
    bottom: 131px;
}

#sound16 {
    position: absolute;
    right: 436px;
    bottom: 131px;
}

#sound15 {
    position: absolute;
    right: 467.5px;
    bottom: 131px;
}

#sound14 {
    position: absolute;
    right: 500px;
    bottom: 131px;
}

#sound13 {
    position: absolute;
    right: 531.5px;
    bottom: 131px;
}

#sound12 {
    position: absolute;
    right: 563px;
    bottom: 131px;
}

#sound11 {
    position: absolute;
    right: 594.5px;
    bottom: 131px;
}

#sound10 {
    position: absolute;
    right: 626.5px;
    bottom: 131px;
}

#sound9 {
    position: absolute;
    right: 658px;
    bottom: 131px;
}

#sound8 {
    position: absolute;
    right: 690px;
    bottom: 131px;
}

#sound7 {
    position: absolute;
    right: 721.5px;
    bottom: 131px;
}

#sound6 {
    position: absolute;
    right: 754px;
    bottom: 131px;
}

#sound5 {
    position: absolute;
    right: 785.5px;
    bottom: 131px;
}

#sound4 {
    position: absolute;
    right: 817.5px;
    bottom: 131px;
}

#sound3 {
    position: absolute;
    right: 849px;
    bottom: 131px;
}

#sound2 {
    position: absolute;
    right: 881px;
    bottom: 131px;
}

#sound1 {
    position: absolute;
    right: 913px;
    bottom: 131px;
}

button:hover {
    box-shadow: 0 0 20px 0 rgb(203, 203, 203);
    cursor: pointer;
    background-color: rgba(210, 249, 119, 0.349);
}

body {
    /* background-image: url('https://d3m9l0v76dty0.cloudfront.net/system/photos/6288966/original/6864ce44cd0f086da5d803314349fe6f.jpg');
    width: 100vw;
    height: 550px;
    background-size: cover; */
    height: 100vh;
}

#background {
    width: 100vw;
}

/* div {
    margin: auto;
    text-align: center;
    display: block;
} */

/* #note {
    border: 1.5px solid;
    border-radius: 3px;
    background-color: rgba(152, 147, 139, 0);
    display: inline;
    font-size: 20px;
    height: 186px;
    width: 31px;
    text-align: center;
    animation-name: note;
    animation-duration: 2s;
    animation-direction: alternate;

} */




.up {
    border-radius: 3px;
    height: 186px;
    width: 31px;
    transform: translateY(200%);
    /* background-color: blue; */
    pointer-events: none;
}

.container {
    gap: 2px;
    display: flex;
    width: 920px;
    position: absolute;
    right: 23px;

}

.play {
    animation-name: note;
    animation-duration: 10s;

}

@keyframes note {
    0% {
        background-color: green;

    }

    45% {
        background-color: green;
    }

    55% {
        background-color: orange;
    }

    85% {
        background-color: orangered;
    }

    100% {
        transform: translateY(-135%);
        background-color: red;
    }
}

/* #levels {
    position: absolute;
    right: 15px;
    top: 500px;

} */

#levels button {
    background-color: rgba(128, 128, 128, 0);
    width: 42px;
    height: 44px;
    margin: 6.5px;
    color: aliceblue;
    font-size: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

fieldset {
    /* width: 270px; */
    position: absolute;
    top: 42px;
    right: 41.5px;
    border: 0;
}

legend {
    text-align: center;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}